* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(11, 1fr);

	max-width: 100vw;
	max-height: 100vh;

	font-family: "Giorgia", serif;
	font-size: 1rem;
	font-weight: 400;

	background-color: rgb(250,200,200);
}

.header {
	grid-column: 1 / 8;
	grid-row: 1 / 2;
}

.aside {
	grid-column: 1 / 3;
	grid-row: 2 / 6;
}

.main {
	grid-column: 3 / 8;
	grid-row: 2 / 12;
}

.footer {
	grid-column: 1 / 3;
	grid-row: 6 / 12;
}

header {
	padding: 0.5rem 0 0.5rem 0;
	margin: 0 1.5rem 0 1.5rem;

	border-bottom: 2px solid black;
}

header h1 {
	font-size: 1.8rem;
	font-weight: 800;
}

header h2 {
	font-size: 0.9rem;
	font-weight: 300;
}

main {
	margin: 0;
	padding: 0;
}

#textbox {
	font-family: "Verdana", "Geneva", sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5rem;

	display: block;
	height: calc(100% - 6rem);
	width: calc(100% - 3rem);
	padding: 1rem 1.5rem 1rem 1.5rem;

	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	resize: none;

	overflow: auto;
	/* Scrollbar style for Firefox below */
	scrollbar-width: thin;
	scrollbar-color: black rgba(0, 0, 0, 0.2);
}

/* Custom background color of selected text */
::selection {
	color: white;
	background: black;
}
/* Code for Firefox */
::-moz-selection {
	color: white;
	background: black;
}

#button {
	font-family: "Giorgia", serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.08rem;
	text-align: center;

	color: black;
	background-color: white;
	border: 0.1rem solid black;

	display: block;
	padding: 0.4rem 1.3rem;
	margin-left: calc((100vw - (100vw / 7 * 2)) / 2 - 1rem);
	transform: translate(-50%, -50%);
	margin-top: 1.5rem;

	cursor: pointer;
	transition: 0.1s;
}

#button:hover {
	border: 0.2rem solid black;
}

aside {
	padding: 1.3rem 1rem;
	margin-left: 1.5rem;
	overflow: auto;
	/* Scrollbar style for Firefox below */
	scrollbar-width: thin;
	scrollbar-color: white rgba(225, 255, 255, 0.2);

	color: white;
	background-color: black;
}

aside div {
	margin-bottom: 1rem;
}

footer {
	padding: 1rem;
	margin-left: 1.5rem;
	overflow: auto;
	/* Scrollbar style for Firefox below */
	scrollbar-width: thin;
	scrollbar-color: white rgba(255, 255, 255, 0.2);

	color: white;
	background-color: black;
}

#info {
	color: white;
	text-decoration: none;
	font-family: "Verdana", "Geneva", sans-serif;
	font-weight: 400;
}

footer small {
	display: block;
	line-height: 1.2rem;
	letter-spacing: 0.01rem;

	margin-top: 1rem;
	margin-bottom: 0.6rem;
}

footer small a {
	color: white;
	text-decoration: underline;
}

.badge {
	margin-top: 0.3rem;
}

.noscript {
	position: absolute;
	margin-top: -100vh;
	margin-left: 0;

	width: calc(100vw - 4rem - 1.4rem);
	height: calc(100vh - 4rem - 1.4rem);

	padding: 2rem;
	border: 0.7rem solid red;

	font-family: "Verdana", "Geneva", sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.5rem;

	color: black;
	background-color: rgb(245, 245, 245);
}

.noscript p {
	padding-left: 1rem;
	border-left: 0.2rem solid red;
}

.noscript button {
	display: block;
	padding: 0.4rem 0.9rem;
	margin-left: calc(1rem + 0.2rem);

	border: 0.17rem solid red;

	text-align: center;
	font-size: 1.1rem;

	background-color: rgba(0, 0, 0, 0);
	color: black;

	box-shadow: 0 0 0.5rem rgb(80, 80, 80);

	cursor: pointer;
	transition: 0.15s;
}

.noscript button:hover {
	box-shadow: 0 0 0rem grey;
}

.noscript-link {
	margin-left: calc(1rem + 0.2rem);
	text-decoration: none;
}

.noscript-link:hover, .noscript-link:active {
	outline-color: red;
	outline-width: 0.2rem;
	outline-style: dotted;
	outline-offset: 0.3rem;
}

@media only screen and (max-width: 62rem) {
	body {
		display: grid;
		grid-template-areas: "header"
							"aside"
							"main"
							"footer";

		grid-template-rows: auto;
		max-width: 100vw;
		height: auto;
		max-height: none;
	}

	.header {
		grid-area: header;
	}

	.aside {
		grid-area: aside;
	}

	.main {
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}

	header {
		padding: 1rem;
		margin: 0rem;

		width: calc(100vw - 2rem);
	}

	header h1 {
		font-size: 1.6rem;
		font-weight: 800;
	}

	header h2 {
		font-size: 0.9rem;
		font-weight: 300;
	}

	main {
		margin: 0;
		padding: 0;

		width: 100vw;
	}

	#textbox {
		font-family: "Verdana", "Geneva", sans-serif;
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.5rem;

		display: block;
		width: calc(100% - 2rem);
		padding: 1rem;

	}

	#button {
		margin-left: calc(100vw / 2);
		transform: translateX(-50%);
		margin-top: 0.4rem;

		padding: 0.6rem 1.7rem;
	}

	aside {
		padding: 0.5rem 1rem;
		margin: 0;
	}

	aside div {
		margin: 0.5rem 0 0.5rem 0;
	}

	footer {
		padding: 1rem;
		margin: 0;
	}

	footer small {
		line-height: 1.2rem;
		letter-spacing: 0.01rem;

		margin: 1rem 0 0.6rem 0;
	}

	.badge {
		margin-top: 0.3rem;
	}

	.noscript {
		position: fixed;
		margin-top: 0;
		margin-left: -100vw;

		width: calc(100vw - 1.5rem - 1rem);
		height: calc(100vh - 2rem - 1rem);

		padding: 1rem 1rem 1rem 0.5rem;
		border: 0.5rem solid red;

		font-size: 1rem;
		font-weight: 400;
		line-height: 1.3rem;
	}

	.noscript p {
		padding-left: 0.5rem;
	}

	.noscript button {
		width: calc(100vw - 3rem);
		margin-left: 50%;
		transform: translateX(-50%);

		padding: 0.7rem 0.9rem;
	}

	.noscript-link {
		margin-left: 0;
	}
}
